#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Logos */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo-sm {
  height: 4em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo.shamrock {
  height: 3em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #27a020f2);
}
.logo-sm:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.logo2 {
  height: 3em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo2:hover {
  filter: drop-shadow(0 0 2em #61dafbaa)
}

#links-logos {
  display: flex;
  justify-content: center;
}

@keyframes logo-spin-cw {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes logo-spin-ccw {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .shamrock-1 {
    animation: logo-spin-cw infinite 20s linear;
  }
  .shamrock-2 {
    animation: logo-spin-ccw infinite 20s linear;
  }
}

.card {
  padding: 2em;
  text-align: start;
}

.read-the-docs {
  color: #888;
}
